<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- 导航部分 -->
<nav>
    <h1>Flaskr</h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <!-- g 和 url_for 在模板中自动可用 -->
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
    </ul>
</nav>
<!-- 正文部分 -->
<section class="content">

    <!-- 正文header块 -->
    <header>
        {% block header %}{% endblock %}
    </header>

    <!-- 循环打印每个消息 -->
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <!-- 正文内容块 -->
    {% block content %}{% endblock %}

</section>